*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background-color: gainsboro;
}
h1 {
  padding: 2rem;
}
hr {
  width: 10%;
  height: 3px;
  margin: 0 auto;
  color: darkcyan;
  background-color: darkcyan;
  margin-bottom: 3rem;
}
img {
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.container {
  position: relative;
  min-width: 400px;
  width: 50vw;
  height: 440px;
  margin: 0 auto;
  background-color: honeydew;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8);
  /* padding-bottom: 3rem; */
  overflow: hidden;
}
.slide {
  padding: 1rem 1rem 3rem;
  position: absolute;
  transition: 1s transform;
  -webkit-transition: 1s transform;
  -moz-transition: 1s transform;
  -ms-transition: 1s transform;
  -o-transition: 1s transform;
}
.btnContainer {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
